[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=dual-monitors-xfce
Comment=dual-monitors-xfce
Exec=xrandr --output DP-1 --mode 1920x1080 --pos 1920x0 --rotate normal --output HDMI-0 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DP-0 --off --output DP-1 --off --output None-1-1 --off
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

